# Visual Studio
*.vcxproj.filters
*.user
*.suo
*.userprefs
.vs/

# Build outputs
Debug/
Release/
*.sys
*.pdb
*.exp
*.lib
*.obj
*.ilk
*.inf

# Windows Driver
*.wxp
*.wmf
*.wdf

# OS Files
.DS_Store
._*
.Trashes
ehthumbs.db
Thumbs.db